@import url('https://fonts.googleapis.com/css2?family=Actor&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-logo img{
    width: 200px;
}
html{
    font-size: 62.5%;
}
body{
  
    font-family: "Actor", sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    background-color: #060f3a
}
.nav-elements{
    border-radius: 3.2rem;
    color: #fff;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    background: #070C25A3;

}
.nav-elements span{
    font-weight: 600;
    font-size: 1.6rem;
}

.btn {
  padding: 2px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(95.02deg, #EB00FF 13.23%, #7241FF 81.63%, #4200FF 81.64%);    
    cursor: pointer;
    border-radius: 32px;

  }
    .btn button{
    border-radius: 32px;
    font-size: 1.8rem;
    padding: 10px 40px; 
       background-color: #060f3a;
       color: #fff;
  }
  .btn::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color:transparent;
  }